body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color:white;
    font-size: 1.4rem;
  }
  #index{
    background-image:url(./crop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
 }
 section{ 
   margin-left: 150px
 }
  h1{
      margin-top: 3%;
      font-size: 50px;
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      /* z-index:auto; */
      text-align: center; 
      text-shadow: black;
  }
  h2{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 3%;
  }
  h3{
      color: white;
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;
  }
  .row{
    align-items: center;
  }
  
  .Edu{
    border-left: white 5px solid;
  }
  
  
  .container{
    display: flex;
    flex-direction: column;
  }
  
  .image-fluid{
    width: 10cm;
    height: 10cm;
    display: flex;
    flex-direction: column;
  }
  .techskills{
    margin-left: 200px;
    display: flex;
  }
  
 .aboutpad{
   padding-top: 50px;
 }
  .container{
    display: flex;
    flex-direction: row;
    align-items: auto;
    width: 100%;
    height:100vh;
  }

  p{
    text-align: center;
  }
  .navigation {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 250px;
    transition: all 0.3s linear;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-link a {
    color: white;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 12%;
    margin-right: 12%;
  }
  
  .profile-img {
    width: 60%;
    border-radius: 50%;
  }
  
  .nav-button {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    border: none;
    background-color: transparent;
  }

.card-body {
  background-color: black;
}
.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}
.cardBox:hover .card {
  transform: rotateY( 180deg);
}
.card {
  background: #222;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1; 
  align-items: center;
}
.card p {
  margin-bottom: 1.8em;
}
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}
.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}
.card .back {
  transform: rotateY( 180deg);
}
.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: #333;
}
.cardBox:nth-child(2) .card .back {
  background: #333;
}
.cardBox:nth-child(3) .card .back {
  background: #333;
}
.cardBox:nth-child(4) .card .back {
  background: #333;
}
.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}
.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}
.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}
  
  
  @media screen and (max-width: 900px) {
    .navigation {
      left: -100%;
    }
    .nav-button {
      display: block;
    }
  
    .navigation.active {
      left: 0;
    }
    h1{
      font-size: 40px;
    }
    h3{
      font-size: 20px;
    }
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    h1{
      font-size: 25px;
    }
    h3{
      font-size: 10px;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align:center;
      float: inline-start;
    }
    h1{
        color: white;
        font-size: 25px;
    }
    h5{
        color: white;
    }
    h3{
      font-size: 10px;
    }
  }
  